<!-- templates/reg_wait.html -->
<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <title>Registrierung abgeschickt</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
   <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
  <h2>✅ Registrierung erfolgreich!</h2>
  <p>Dein Account wurde angelegt, muss aber noch von einem Admin freigegeben werden.</p>
  <p>Bitte schau später noch einmal vorbei.</p>
  <a href="/login">Zurück zum Login</a>
</body>
</html>